<footer class="footer font-small blue">
  <% if (isAuthenticated) { %>
    <div class="footer text-center py-3">How did we do?
      <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR73pcsbpbxNJuZCMKN0lURpUQkRCSVdRSk8wUjdZSkg2NEZGOFFaTkxQVyQlQCN0PWcu" target="_blank">Share your experience with us!</a>
    </div>
  <% } %>
</footer>