<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Hello API</a>
  @if (loginDisplay) {
    <button mat-button (click)="editProfile()">Edit Profile</button>
  }
  @if (!loginDisplay) {
    <button mat-raised-button (click)="login()">Login</button>
  }
  @if (loginDisplay) {
    <button mat-raised-button (click)="logout()">Logout</button>
  }
</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  @if (!isIframe) {
    <router-outlet></router-outlet>
  }
</div>