footer {
    position: fixed;
    bottom: 5%;
    width: 100%;
}

.footer-text {
    font-size: small;
    text-align: center;
    flex: 1 1 auto;
}

.App {
    text-align: center;
}

.data-area-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}