addons:
  firefox: "latest"

language: node_js

node_js:
  - 'stable'

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:		
  - npm install
  - npm install -g karma
  - npm install -g typings