* @tnorling @sameerag @jo-arroyo @hectormmg @bmahall @peterzenz @bgavrilMS

# MSAL Angular
/lib/msal-angular/ @jo-arroyo @tnorling @peterzenz
/maintenance/msal-angularjs/ @jo-arroyo @tnorling @peterzenz
/samples/msal-angular-samples/ @jo-arroyo @tnorling @peterzenz
/samples/msal-angular-v2-samples/ @jo-arroyo @tnorling @peterzenz
/samples/msal-angularjs-samples/ @jo-arroyo @tnorling @peterzenz

# MSAL Browser
/lib/msal-browser/ @tnorling @peterzenz
/samples/msal-browser-samples/ @tnorling @peterzenz

# MSAL Common
/lib/msal-common/ @sameerag @tnorling @peterzenz @bgavrilMS

# MSAL Core
/lib/msal-core/ @sameerag @tnorling @peterzenz
/samples/msal-core-samples/ @sameerag @tnorling @peterzenz

# MSAL Node
/lib/msal-node/ @sameerag @hectormmg @bmahall @peterzenz @jennyf19 @jmprieur @bgavrilMS
/samples/msal-node-samples/ @sameerag @hectormmg @bmahall @peterzenz @jennyf19 @jmprieur @bgavrilMS
/extensions/msal-node-extensions/ @sameerag @hectormmg @bmahall @peterzenz @jennyf19 @jmprieur @bgavrilMS

# ADAL Node
/maintenance/adal-node @sameerag @peterzenz @bgavrilMS

# Passport Azure Ad
/maintenance/passport-azure-ad @jennyf19 @jmprieur @bgavrilMS

# MSAL React
/lib/msal-react/ @tnorling  @jo-arroyo @peterzenz
/samples/msal-react-samples/ @tnorling  @jo-arroyo @peterzenz

# Node Token Validation
/lib/node-token-validation @jennyf19 @jmprieur @bgavrilMS
/samples/node-token-validation @jennyf19 @jmprieur @bgavrilMS

## ADAL.js
/maintenance/adal-angular @sameerag @peterzenz

# Build
/build/ @tnorling @bmahall @peterzenz
/release-scripts/ @tnorling @bmahall @peterzenz
/.github/ @tnorling @bmahall @peterzenz

# Filepaths to ignore
/change/
