* @AzureAD/msal-js-public-client

# MSAL Browser
/lib/msal-browser/custom-auth @shenj @yongdiw

# MSAL Node
/lib/msal-node/ @AzureAD/msal-js-public-client @AzureAD/id4s-msal-team
/samples/msal-node-samples/ @AzureAD/msal-js-public-client @AzureAD/id4s-msal-team

# MSAL Node Confidential Client Regression Tests
.github/workflows/client-credential-benchmark.yml @AzureAD/id4s-msal-team
.github/workflows/msal-node-confidential-client-benchmarks.yml @AzureAD/id4s-msal-team
/regression-tests/msal-node/ @AzureAD/id4s-msal-team

# Filepaths to ignore
/change/
