{
  "root": true,
  "env": {
      "browser": true,
      "node": true,
      "commonjs": true
  },
  "plugins": [
      "header",
      "security"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:security/recommended"
  ],
  "parserOptions": {
      "ecmaVersion": 12
  },
  "rules": {
      "eol-last": 2,
      "eqeqeq": 2,
      "header/header": [2, "block", [ "", " * Copyright (c) Microsoft Corporation. All rights reserved.", " * Licensed under the MIT License.", " " ], 2],
      "multiline-comment-style": [2, "starred-block" ],
      "no-console": 2,
      "no-multiple-empty-lines": [2, { "max": 1 }],
      "no-param-reassign": 2,
      "no-var": 2,
      "prefer-const": 2,
      "quotes": [2, "double"],
      "security/detect-non-literal-fs-filename": 0,
      "security/detect-object-injection": 0,
      "spaced-comment": 2
  }
}
