<div class="col-md-3" style="margin:auto">
  <div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Please sign-in to acquire a token</h5>
    </div>
  </div>
</div>