<h1>MSAL.js MSR Crypto Sample Application</h1>
<p>This sample application demonstrates basic usage leverage the MSR Crypto interface for MSAL.js.</p>
<div>
    <button id="login">Login</button>
    <button id="token">Acquire Token</button>
    <button id="logout">Logout</button>
</div>
