.btn {
    margin-right: 1em;
}

.button_row {
    display: none; 
    justify-content:center; 
    align-items:center;
}

.profile_section {
    margin:auto; 
    width:40%; 
    float:left;
}

.response_row {
    margin:auto; 
}