<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Microsoft identity platform</a>
    <div class="btn-group mr-auto dropleft">
        <% if (isAuthenticated) { %>
            <a class="btn btn-link" href="/todos" role="button">Todos</a>
        <% } %>
    </div>
    <div class="btn-group ml-auto dropleft">
        <% if (isAuthenticated) { %>
            <a class="btn btn-secondary" href="/users/id" role="button">ID</a>
            <a class="btn btn-success" href="/auth/signout" role="button">Sign-out</a>
        <% } else { %>
            <a class="btn btn-secondary" href="/auth/signin" role="button">Sign-in</a>
        <% } %>
    </div>
</nav>