<div id="card-div" class="col-md-3">
  <div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Please sign-in to acquire a token silently</h5>
    </div>
  </div>
</div>
