body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
