<h1 id="apiResponse">API Response</h1>
<table>
    <tbody>
        {{#each response}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<a href="/">Go back</a>
