{{#if isAuthenticated }}
<div id="card-div" class="col-md-3 mx-auto">
    <div class="card text-center">
        <div class="card-body">
            <p class="text-center">Hi {{username}}!</p>
            <a class="btn btn-primary" id="viewId" href="/id">View ID token claims</a>
            <br>
            <a class="btn btn-primary" id="editProfile" href="/edit-profile">Edit Profile</a>
            <br>
            <a class="btn btn-primary" id="callApi" href="/call-api">Call an API</a>
        </div>
    </div>
</div>
{{/if}}
