# Editor configuration, see http://editorconfig.org
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.json]
indent_size = 2

[*.md]
max_line_length = 140
trim_trailing_whitespace = false

[*.html]
max_line_length = 200
trim_trailing_whitespace = false
